@media only screen and (max-width: 760px) {
    /*Hasta que la pantalla se encuentre a un maximo de 700px*/
    /*Va a pasar lo siguiente:*/
    /*SECTION NAV-BAR*/
    .hero .info-content {
        grid-column: 6/10;
    }
}

@media only screen and (max-width: 660px) {
    /*Hasta que la pantalla se encuentre a un maximo de 600px*/
    /*Va a pasar lo siguiente:*/
    /*SECTION NAV-BAR*/
    body {
        overflow-y: none;
    }
    .navbar {
        position: relative;
    }
    .navbar .shopping {
        display: none;
    }
    .navbar .logo {
        grid-column: 1;
        margin-left: 6px;
    }
    .navbar .menu-bar {
        display: block;
        grid-column: 8/9;
        font-size: 2em;
        cursor: pointer;
    }
    .navbar .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        background-color: #1a1825;
        margin-top: 10vh;
        top: 0;
        right: 0;
        transform: translateX(167%);
        display: none;
        transition: all 1s;
    }
    .navbar .menu li a {
        display: block;
        text-align: center;
    }
    .navbar .menu-toggle {
        transform: translateX(67%);
        display: grid;
    }
    /*SECTION MAIN*/
    .hero .info-content {
        grid-column: 2/10;
        grid-row: 4/8;
    }
    .hero h1 {
        font-size: 3.5em;
    }
    /*SECTION FOOTER*/
    .footer .follow-me {
        display: none;
    }
    .footer .social-network {
        text-align: center;
    }
}

@media only screen and (max-height: 629px) {
    .hero .info-content {
        grid-column: 2/10;
        grid-row: 3/6;
    }
}

@media only screen and (max-height: 526px) {
    .hero .info-content {
        grid-column: 2/10;
        grid-row: 2/6;
    }
}

@media only screen and (max-height: 452px) {
    .hero .info-content {
        grid-column: 2/10;
        grid-row: 1/6;
    }
}